- @page_title = "Add-ons"
- active_nav_item :addons

%section#pagetitle
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-1.uk-width-small-1-1
        %h3 Partner Network and Add-ons for Dive Centre HQ

%section.uk-padding{style: 'padding-bottom: 0px'}
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-10.uk-width-medium-2-10.uk-hidden-small
        .icon-wrap.center.idz-bottom-adjustment5
          = image_tag 'addon-scubatribe.gif'
      .uk-width-9-10.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          ScubaTribe:
          %span.uk-text-thin Reviews and feedback as dependable as your dive gear
        %p ScubaTribe provides an invaluable service to both divers and dive operations around the world. For dive operations we offer a way of collecting and using feedback from your diving customers to help you improve your services and show off your great reputation online.
        %p For divers we offer a place you can come to find up to date and high quality information about the places and operations where you want to dive. You can rest assured that the information you find on ScubaTribe is relevant, recent and verified as coming from customers who actually visited the dive operation in question.
        = link_to addons_scubatribe_path, class: 'uk-button uk-button-large idz-button-outline' do
          Explore the ScubaTribe Add-on
          %i.uk-icon-chevron-circle-right
      .uk-width-1-1
        %hr.uk-margin-large-top



%section.uk-padding{style: 'padding-bottom: 0px'}
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-10.uk-width-medium-2-10.uk-hidden-small
        .icon-wrap.center.idz-bottom-adjustment5
          = image_tag 'addon-xero.gif'
      .uk-width-9-10.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          Xero:
          %span.uk-text-thin Xero is online accounting software for your small business
        %p Log in online anytime, anywhere on your Mac, PC, tablet or phone and see up-to-date financials. It’s small business accounting software that’s simple, smart and occasionally magical.
        %p Accounting software with all the time-saving tools you need to grow your business: unlimited users and 24/7 support … not to mention the security and reliability you’d expect from Xero.
        = link_to addons_xero_path, class: 'uk-button uk-button-large idz-button-outline' do
          Explore the Xero Add-on
          %i.uk-icon-chevron-circle-right
      .uk-width-1-1
        %hr.uk-margin-large-top


%section.uk-padding
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-10.uk-width-medium-2-10.uk-hidden-small
        .icon-wrap.center.idz-bottom-adjustment5
          = image_tag 'addon-mailchimp.gif'
      .uk-width-9-10.uk-width-medium-8-10.uk-width-small-1-1
        %h2
          MailChimp:
          %span.uk-text-thin Send Better Email
        %p More than 10 million people and businesses around the world use MailChimp. Our features and integrations allow you to send marketing emails, automated messages, and targeted campaigns. And our detailed reports help you keep improving over time.
        %p MailChimp has been around since 2001. We started as a side project funded by various web-development jobs. Now we send more than 600 million emails a day. We love seeing businesses start small, fund themselves with paying projects, and build up a strong API, so that's how we run MailChimp. We create products and features that empower our customers to grow.
        = link_to addons_mailchimp_path, class: 'uk-button uk-button-large idz-button-outline' do
          Explore the MailChimp Add-on
          %i.uk-icon-chevron-circle-right
